.table-container {
    margin-bottom: 20px;
}

.pagination-controls {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table {
    width: 100%; /* Garante que a tabela ocupe toda a largura disponível */
    border-collapse: collapse;
    background: #F1F6F5;
    color: #006151;
    border-radius: 0.5rem;
    font-size: 14px; /* Ajuste conforme necessário */
    overflow-x: auto; /* Adiciona scroll horizontal em telas menores, se necessário */
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px; /* Ajuste conforme necessário */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th {
    background-color: #f2f2f2;
    color: #006151;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e3f2fd;
}

.mobile-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.mobile-list-item {
    width: calc(50% - 1rem);
    background-color: #F1F6F5;
    color: #006151;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.mobile-list-item-header {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.mobile-list-item-content {
    display: flex;
    flex-direction: column;
}

.mobile-list-item-field {
    margin-bottom: 0.5rem;
}

.mobile-list-item-label {
    font-weight: bold;
}

.mobile-list-item-actions {
    margin-top: 0.5rem;
    text-align: right;
}

.icon {
    cursor: pointer;
    color: #006151;
}

.hidden {
    display: none !important;
}

@media (max-width: 768px) {
    .table {
        display: none;
    }

    .mobile-list-item {
        width: 100%;
    }
}
