.content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100vh - 60px); /* Altura total menos a altura do header */
}

.main-content {
  flex: 1; /* Ocupa o espaço restante */
  padding: 20px; /* Ajuste o padding conforme necessário */
  transition: margin-left 0.3s ease; /* Transição suave para a mudança de margem */
  margin-left: 0; /* Inicia sem margem */
  grid-column: 2 / span 10;
  max-width: 2000px;
}
